body{
  text-align: center;
  padding: 0;
  margin: 0;
}
.body{
  width: 50%;
  height: 50%;
  margin: 0 auto;
}
form{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
h1{
  font-size: 40px;
  margin: 20px;
}
p{
  font-size: 15px;
  margin: 10px;
}
a{
  font-size: 15px;
  margin: 10px;
}
textarea{
  width: 100%;
  height: 300px;
}
.submit{
  width: 35%;
  height: 25px;
  font-size: 0.8rem;
  margin: 20px auto;
}
